<!-- HEADER -->
<div class="header">
  <h2>Lista de Tarefas</h2>
  <button class="btn-sair" (click)="sair()">Sair</button>
</div>

<!-- ➕ NOVA TAREFA -->
<div class="card-adicionar">
  <input
    type="text"
    [(ngModel)]="novaTarefa.titulo"
    placeholder="Nova tarefa"
  />
  <button (click)="adicionarTarefa()">Adicionar</button>
</div>

<hr />

<!-- ✏️ EDIÇÃO -->
<div class="card-edicao" *ngIf="editando">
  <h3>Editar Tarefa</h3>
  <input type="text" [(ngModel)]="editando.titulo" />
  <label>
    <input type="checkbox" [(ngModel)]="editando.concluida" />
    Concluída
  </label>
  <br />
  <button class="btn-salvar" (click)="salvarEdicao()">Salvar</button>
<button class="btn-cancelar" (click)="cancelarEdicao()">Cancelar</button>
</div>

<hr />

<!-- 📋 LISTA -->
<ul>
  <li *ngFor="let t of tarefas">
    <span [style.text-decoration]="t.concluida ? 'line-through' : 'none'">{{ t.titulo }}</span>
    <span *ngIf="t.concluida"> ✔ Concluída </span>
    <span *ngIf="!t.concluida"> ❌ Pendente </span>
    <button (click)="concluirTarefa(t)" [disabled]="t.concluida">✔ Concluir</button>
    <button (click)="editar(t)">✏️ Editar</button>
    <button (click)="deletarTarefa(t.id)">🗑 Deletar</button>
  </li>
</ul>